{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">

        <div class="moreInfo">
            <a href="" class="text1">Emergency Shipping Available!</a>
            <a href="" class="text2">Custom Builds Available!</a>
        </div>

        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Customer Services</h5>
                <ul class="footer-info-list">
                    <li><a href="/contact-us/">Contact Us</a></li>
                    <li><a href="/shipping-information/">Shipping Information</a></li>
                    <li><a href="/return-policy/">Returns & Exchanges</a></li>
                    <li><a href="">Parts & Accessories</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Company Info</h5>
                <ul class="footer-info-list">
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/terms-of-use/">Terms of Use</a></li>
                    <li><a href="/testimonials/">Testimonials</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Your Account</h5>
                <ul class="footer-info-list">
                    <li><a href="/account.php">My Account</a></li>
                    <li><a href="/orderstatus.php">Order Status</a></li>
                    <li><a href="/wishlist.php">Wish List</a></li>
                    <li><a href="/cart.php">View Basket</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Get Social</h5>
                <ul class="footer-info-list">
                    <li><a href="https://www.facebook.com/pcserverandparts/?ref=bookmarks" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/pcserverparts/">Instagram</a></li>

                </ul>
            </article>

        </section>

    </div>
</footer>
<div class="copyText"><p>Copyright &copy; {{moment format="YYYY"}} <strong>PC Server & Parts</strong>. All rights reserved. Big Commerce Themes by <a href="https://www.ocdesignsonline.com" rel="nofollow" target="_blank">OCDesignsOnline</a>.</p></div>
