<nav>

    <div class="sidebarBlock sidebarCategory">
        <h5 class="sidebarBlock-heading">Categories</h5>
        <div class="u-vmenu">
        <ul>
            {{#each categories}}
                <li>
                    {{#if children}}
                    <a href="{{url}}">
                        {{name}}
                    </a>
                    
                        <ul>
                            <li>
                                <a href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
                            </li>
                            {{#each children}}
                                <li>
                                    {{#if children}}
                                        <a href="{{url}}">{{name}}</a>
                                        <ul>
                                            {{#each children}}
                                            <li>
                                                <a href="{{url}}">{{name}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    {{else}}
                                        <a href="{{url}}">{{name}}</a>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    
                    {{else}}
                    <a href="{{url}}">{{name}}</a>
                    {{/if}}

                </li>
            {{/each}}
            
        </ul>
        </div>
    </div>


    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
    
    <div class="sidebarBlock">
       <iframe src="https://pcserver.ocdo.us/form.php" border="0" width="100%" height="690px" style="border:0px;overflow:hidden;"></iframe>
    </div>
    
</nav>
